{block content}

  <div class="row top-padding-50">
    <div class="medium-6 medium-offset-3 large-4 large-offset-4 columns">

      <h3 n:block=title>Vytvořte si nové heslo</h3>

      {control passwordForm}

    </div><!-- medium-4 medium-offset-4 columns -->
  </div><!-- row -->

{/block}
